@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,625;1,625&display=swap');
@import url('https://fonts.cdnfonts.com/css/netflix-font');
*{
	margin: 0px;
	padding: 0px;
	
}

body{
	color:white;
	background-color: black;
}
.opc{
	background-color: black;
	opacity: 0.9;
}
.header{
	background-image: url('netflix.jpg');
	object-fit: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	

}
.navbar{
	display: flex;
	flex-wrap: wrap;
	height: 18vh;
	width: 100%;
	justify-content:space-between;
	text-align: center;
	


}

nav > div > img{
	height: 50px;
}
#logo{
	margin: 14px 10px;
	background-position: right;
}

#logo-btn{
 display: flex;
 height: 50px;
 flex-direction: row;
 margin: 16px ;
 text-align: center; 
 justify-content: center;
 align-items: center;
 align-content: center;
}
.tt{
	justify-content: center;
	align-items: center;
	display:flex;
	margin: 10px ;

}
.btn{
	background-color: #E50914;
	color:white;
}

.btn-frist{
	height: 32px;
	width: 100px;
	padding: 5px;
	border:2px solid white;
	border-radius: 5px;
	margin: 16px 10px; 
	background-color: #161616B3;
	fill: white;
	font-size: 15px;
	border:2px #00000066 solid;
	text-align: center;
}

.btn:hover{
	background-color:#E50914;
    color:black;}

.btn-second{
	height: 32px;
	width: 80px;
	border-radius: 5px;
	padding: 5px;
	border:none;
}

.btn-f{
	margin:0px;
}

.log-in{
	display: flex;
	flex-wrap: wrap;
	margin-top:20px;
	justify-content: center;
	align-items: center;
}

/* main content */

.main-1{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top:15vh;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#hh1{
    font-size: 3em;
    font-family: 'Netflix Font', sans-serif;
    font-weight: 700;
    }

#p1{
	font-size: 30px;
	margin: 1rem;
    margin-bottom: 20px; }

#p2{
	font-size: 25px;
	/*margin: 1rem;*/
	margin-bottom: 30px; 
}

input{
	height: 7vh;
	width: 340px;
	border-radius: 5px;
	border:1px solid gray;
	color:white;
	padding: 5px 14px;
	color:white;
	background-color:#00000066 ; 
}

.input-btn{
	height: 8vh;
	width: 180px;
	font-size:1.125rem;
	padding: 5px;
	border:none;
	border-radius: 5px;
	margin-left: 1vh;
	margin-right: 2px;
}
#block{
	width:100%;
	height: 5px;
	background-color: gray;
}

/*section of content*/


.box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	padding: 20px 0px;
	margin: auto;
	width: 100%; }

}

.right{
	text-align: left;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
	width: 48%;
	margin: 0px;

}

.left{
    width: 49%;
    /*text-align: left;*/
    margin: 0px 60px 0px 15px;
    padding-bottom: 15px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.ph1{
	font-size: 2.5em;
	font-family: 'Netflix Font', sans-serif;
	font-weight: 900;
	margin-bottom: 20px;
}

.ppp2{
font-weight: 400px;
	font-size: 20px;
	margin-bottom: 25px;
	margin-right: 10px auto;

}
.tt{
	margin-bottom: 60px;
}
.img-1{
	position: absolute;
	text-align: center;
	width:450px;}


.img-2{
	width:450px;}

.newimg{
	margin: 0;
	width: 420px; 
	}

/*footer area*/
.section-1{
	margin-top: 30px;
}
.fh2{
	text-align: center;
	font-size: 3em;
	font-family: 'Netflix Font', sans-serif;
}
.faq{
	width: 85vw;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background-color:gray;
	opacity: 0.8;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 24px;
	color:white;
	font-size: 25px; 
}

.faq:hover{
background-color: #161616B3;
opacity: 0.5;
}

.ff{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 10px;
	padding: 5px;
}

.f-main{
	margin: auto;
	width: 90%;
	margin-top:40px;
	margin-bottom:30px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex{
margin-top: 15px;
display: flex;
flex-wrap: wrap;
gap:10px;
justify-content: center;
flex-direction: column;
}

.last{
	text-align: center;
	font-size: 28px;
	
}
.text{
	text-align: center;
}
/*media query*/
@media only screen and (max-width: 700px) {

.header{
	height: 90vh;
	width: 100%;}

.navbar{
	height: 13vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 19px;}

nav > div > img{
	height: 40px;}

#logo{
	margin: 19px 15px;}

#logo-btn{
 height: 30px;
 margin: -10px 20px;
 display: flex;
 flex-direction: row;
 text-align: center; 
 justify-content: center;
 align-items: center;
 align-content: center;}

.main-1{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top:13vh;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#hh1{
    font-size: 2.8em;
    font-family: 'Netflix Font', sans-serif;
    font-weight: 600;
    }

#p1{
	font-size: 35px;
	margin: 1.5rem;
    margin-bottom: 20px; }

#p2{
	font-size: 27px;
	margin: 1rem;
	margin-bottom: 30px; 
}

input{
	height: 7vh;
	width: 340px;
	border-radius: 5px;
	border:1px solid gray;
	color:white;
	padding: 5px 14px;
	color:white;
	background-color:#00000066 ; 
}

.input-btn{
	height: 8vh;
	width: 180px;
	font-size:1.125rem;
	padding: 5px;
	border:none;
	border-radius: 5px;
	margin-left: 1vh;
	margin-right: 2px;
}

}

@media only screen and (max-width: 500px) {

.body{
	background-color: powderblue;
}
.header{
	height: 85vh;
	width: 100%;}

.navbar{
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;}

nav > div > img{
	height: 32px;

#logo{
	margin: 15px 10px;}

#logo-btn{
 height: 20px;
 margin: -14px 10px;
 display: flex;
 flex-direction: row;
 text-align: center; 
 justify-content: center;
 align-items: center;
 align-content: center;
}


.main-1{
	margin-top:10vh;
    font-size: 16px;}

.btn {
	height: 30px;
	width: 50px;
}

.btn-second{
	height: 31px;
    width: 50px;}
}

.main-1{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 39px;}

#hh1{
    font-size: 2.3em;
    margin:10px 0px;
    font-family: 'Netflix Font', sans-serif;
    font-weight: 700;
    }

#p1{
	font-size: 27px;
	margin: 15px 2px;}

#p2{
	font-size: 25px;
	margin: 15px;
}
.log-in{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
input{
	height: 6vh;
	width: 320px;
	border-radius: 5px;
	border:1px solid gray;
	color:white;
	padding: 5px 14px;
	color:white;

	background-color:#00000066 ; 
	margin-right: 1vh;
}

.input-btn{
	height: 6vh;
	width: 100px;
	font-size:13px;
	padding: 5px;
	text-align: center;
	border:none;
	margin:15px 2px;
}
/*section */

.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	padding: 20px 0px;
	margin: 15px auto;
	width: 100%; 
}

.right{
	text-align: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
	width: 48%;
	margin: 0px;

}

.left{
    width: 49%;
    text-align: left;
    padding-bottom: 15px;
    display: flex;
    height: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;}

.ph1{
	font-size: 2em;
	font-family: 'Netflix Font', sans-serif;
	font-weight: 900;
	margin-bottom: 15px;
}

.ppp2{
    font-weight: 300px;
	font-size: 18px;
	margin: 0px 0px 5px 0px;}

.img-1{
	position: absolute;
	text-align: center;
	width:400px;
height: 200px;}


.img-2{
	text-align: center;
	width:400px;
height: 200px;}

.newimg{
	margin:-15px 0 15px;
	height: 280px;}

	/*footer area*/
.section-1{
	margin-top: 30px;
	margin: auto;
}
.fh2{
	text-align: center;
	font-size: 2em;
	font-family: 'Netflix Font', sans-serif;
}
.faq{
	width: 75vw;
	height: 3vh;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background-color:gray;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px;
	color:white;
	font-size: 20px; 
}

.faq:hover{
background-color: #161616B3;
opacity: 0.9;
}

.ff{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 10px;
	padding: 5px;
}

.f-main{
	margin: auto;
	width: 90%;
	margin-top:40px;
	margin-bottom:30px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.flex{
margin-top: 15px;
display: flex;
flex-wrap: wrap;
gap:10px;
justify-content: center;
flex-direction: column;
}

.last{
	font-size: 18px;
	
}
.text{
	text-align: center;
}

